@{
    ViewData["Title"] = "Edit User";
}
@model UserModel

<section class="update-container container">
    <form class="update-form" method="post">
        <div class="info">Name: @Model.FirstName @Model.LastName</div>
        <div class="info">Email:@Model.Email</div>
        <div class="info">Phone Number:@Model.PhoneNumber</div>
        <div class="info">Role: @Model.Role</div>
        <select class="select-role" name="role">
              <option>Change the role:</option>
             <option value="Admin">Admin</option>
             <option value="User">user</option>
        </select>
        <button class="btn-theme" type="submit">Update Role</button>
     </form>
</section>


@*<section class="container">
    <div class="profile">
        <img src="" alt="profile image" />

        <div class="details">
            <div class="detail">
                <h6>Name: </h6>
                <p>@Model.FirstName @Model.LastName</p>
            </div>
            <div class="detail">
                <h6>Email: </h6>
                <p>@Model.Email</p>
            </div>
            <div class="detail">
                <h6>Phone Number: </h6>
                <p>@Model.PhoneNumber</p>
            </div>
            <div class="detail">
                <h6>Role: </h6>
                <p>@Model.Role</p>
            </div>

            <form method="post">

                <select name="role">
                    <option>Change role</option>
                    <option value="Admin">Admin</option>
                    <option value="User">user</option>
                </select>
                <button class="btn-theme" type="submit">Update Role</button>
            </form>

        </div>
    </div>
</section>*@