@{
    ViewData["Title"] = "Edit User";
}
@model UserModel

<section class="update-container container">
    <h1>@ViewData["Title"]</h1>
    <hr class="container mb-3 mt-3" />
    <form class="update-form" method="post">
        <div class="info">Name: @Model.FirstName @Model.LastName</div>
        <div class="info">Email: @Model.Email</div>
        <div class="info">Phone Number: @Model.PhoneNumber</div>
        <div class="info">Role: @Model.Role</div>
        <select class="select-role" name="role">
              <option>Change the role:</option>
             <option value="Admin">Admin</option>
             <option value="User">user</option>
        </select>
        <button class="btn-theme" type="submit">Update Role</button>
     </form>
</section>
