@{
    ViewData["Title"] = "Products";
}

@model ProductInfoViewModel


@{
    var products = await productService.GetAllAsync();
    var pro = products.Take(1);

}

<section class="container">
    <h1 class="container d-flex justify-content-center">All Products</h1>

    <hr class="container mb-3 mt-3" />
    <div class="product-card-collection">
        @foreach (var product in products)
        {
            <a asp-controller="products" asp-action="ProductDetailes" asp-route-id="@product.ArticleNumber" class="product-info">
                <img src="@product.ImageUrl" alt="@product.Name" />
                <h2>Name: @product.Name</h2>
                @if (product.PriceDiscount != null!)
                {
                    <h2 class="old-price">Price: @product.Price</h2>
                    <h2>Price after discount: @product.PriceDiscount</h2>
                }
                else
                {
                    <h2>Price: @product.Price</h2>
                }
               
                <div>
                    Categories:
                    @foreach (var category in product.ProductCategories)
                    {

                        <ul>
                            <li>@category.Category.CategoryName</li>
                        </ul>

                    }
                </div>
            </a>
        }
    </div>

    <h1 class="container d-flex justify-content-center">New Products</h1>
    <hr class="container mb-3 mt-3" />
    <div class="product-card-collection">
    @foreach(var p in products)
    {
        foreach(var c in p.ProductCategories)
        {
            if(c.Category.CategoryName == "new")
            {
                <a asp-controller="products" asp-action="ProductDetailes" asp-route-id="@p.ArticleNumber" class="product-info">
                    <img src="@p.ImageUrl" alt="@p.Name" />
                    <h2>Name: @p.Name</h2>
                    @if (p.PriceDiscount != null!)
                    {
                        <h2 class="old-price">Price: @p.Price</h2>
                        <h2>Price after discount: @p.PriceDiscount</h2>
                    }
                    else
                    {
                        <h2>Price: @p.Price</h2>
                    }

                    <div>
                        Categories:
                        @foreach (var category in p.ProductCategories)
                        {

                            <ul>
                                <li>@category.Category.CategoryName</li>
                            </ul>

                        }
                    </div>
                </a>
            }

        }

    }
    </div>
    <h1 class="container d-flex justify-content-center">Featured Products</h1>
    <hr class="container mb-3 mt-3" />
    <div class="product-card-collection">
        @foreach (var p in products)
        {
            foreach (var c in p.ProductCategories)
            {
                if (c.Category.CategoryName == "featured")
                {
                    <a asp-controller="products" asp-action="ProductDetailes" asp-route-id="@p.ArticleNumber" class="product-info">
                        <img src="@p.ImageUrl" alt="@p.Name" />
                        <h2>Name: @p.Name</h2>
                        @if (p.PriceDiscount != null!)
                        {
                            <h2 class="old-price">Price: @p.Price</h2>
                            <h2>Price after discount: @p.PriceDiscount</h2>
                        }
                        else
                        {
                            <h2>Price: @p.Price</h2>
                        }

                        <div>
                            Categories:
                            @foreach (var category in p.ProductCategories)
                            {

                                <ul>
                                    <li>@category.Category.CategoryName</li>
                                </ul>

                            }
                        </div>
                    </a>
                }

            }

        }
    </div>
    <h1 class="container d-flex justify-content-center">Popular Products</h1>
    <hr class="container mb-3 mt-3" />
    <div class="product-card-collection">
        @foreach (var p in products)
        {
            foreach (var c in p.ProductCategories)
            {
                if (c.Category.CategoryName == "popular")
                {
                    <a asp-controller="products" asp-action="ProductDetailes" asp-route-id="@p.ArticleNumber" class="product-info">
                        <img src="@p.ImageUrl" alt="@p.Name" />
                        <h2>Name: @p.Name</h2>
                        @if (p.PriceDiscount != null!)
                        {
                            <h2 class="old-price">Price: @p.Price</h2>
                            <h2>Price after discount: @p.PriceDiscount</h2>
                        }
                        else
                        {
                            <h2>Price: @p.Price</h2>
                        }

                        <div>
                            Categories:
                            @foreach (var category in p.ProductCategories)
                            {

                                <ul>
                                    <li>@category.Category.CategoryName</li>
                                </ul>

                            }
                        </div>
                    </a>
                }

            }

        }
    </div>

</section>
